@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


.container {
    width: 1320px;
    height: 600px;
    display: block;
    margin: 50px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../resources/Banner\ Image.png');
    border-radius: 15px;
}


.banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 25px;
    height: 40px;
    width: 260px;
    padding: 180px 530px 20px 530px;
}

.banner-text2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    height: 190px;
    width: 630px;
    padding: 0px 344px;
    display: block;
}

.container-2 {
    color: #F00;
    text-align: center;
    font-family: Inter;

}

.container-2 h2 {
    font-size: 88px;
    font-weight: 700;
    padding: 100px 50px;
}

.container-2 p {
    font-size: 24px;
    font-weight: 500;
}


.container-2 h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 40px;

}

.container-3 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 15px;

}

.container-3-banner {
    max-width: 1118px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.container-banner-text h1 {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 7.04px;
    padding: 0px 10px;
}

.container-banner-text p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.container-banner-text h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 30px;
}

.container-3-banner-img {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container-4-bg {
    width: 1320px;
    height: 482px;
    margin: 50px auto;
    border-radius: 15px;
    flex-shrink: 0;
    text-align: center;
    font-family: Inter;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.container-4-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px;
}

.c-4-text-color {
    color: #070211;
}

.btn1 {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px;
    border: none;
}

.container-5 {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 140px;
}

.container-5-left-text h6 {
    width: 207px;
    height: 30px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.container-5-left-text h1 {
    width: 328px;
    height: 60px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-transform: capitalize;
}

.container-5-left-text p {
    width: 393px;
    height: 128px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
}

.container-5-oval {
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    border: 15px solid #F00;
    padding: 49px 49px 49px 49px;
}

.container-5-right-text {
    padding-left: 160px;
}

.container-5-right-text h5 {
    width: 126px;
    height: 58px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;


}

.container-5-right-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 10px 0px 40px 0px;
}

.container-6 {
    width: 1320px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 70px 140px;
}

.container-6 h6 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 263px;
    height: 29px;
    margin: 0 auto;
}

.container-6 h2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.container-6 h2 span {
    color: #070211;
}

.container-6 p {
    width: 1068px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 30px;
}

.container-6-img {
    display: flex;
    width: 1320px;
    margin: 0 auto;
}

.content-6-img1 {
    margin-bottom: 0%;
}

.content-6-img2 {
    background-repeat: no-repeat;
    background-image: url('../resources/Rectangle\ 1.png');
    width: 500px;
    height: 500px;
    display: inline;

}


.content-6-img2-1 {
    display: inline;
    width: 220.048px;
    height: 220.119px;
    padding: 91x 10px;


}

.content-6-img4 {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: relative;
}

.cotainer-7 {
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 10px;
}

.cotainer-7 h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.cotainer-7 h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px;
}

.cotainer-7 p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 10px;
}

.container-7-img1 {
    display: flex;
    justify-content: space-between;

}

.container-7-img2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.newsletter {
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 20px;
}

.container-8 {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.section-heading h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.section-heading p {
    width: 896px;
    height: 64px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto;
    padding: 10px;
}

.newsletter form {
    display: flex;
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
}

.btn2 {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin: 0 auto;
    padding: 20px;
}